# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

APP_URL="http://localhost:3000"
APP_ENV=development

NOTION_API_KEY=__NOTION_API_KEY__
NOTION_DATABASE_ID=__NOTION_DATABASE_ID__
NOTION_PAGE_ID=__NOTION_PAGE_ID__

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=mysql://username:password@hostname:3306/database

# https://hashnode.com/settings/developer
HASHNODE_PAT=

# https://app.raindrop.io/settings/integrations
RAINDROP_API_URL=https://api.raindrop.io/rest/v1
RAINDROP_CLIENT_ID=
RAINDROP_CLIENT_SECRET=
RAINDROP_CLIENT_TOKEN=

DEVTO_API_URL=https://dev.to/api
DEVTO_API_ARTICLE=