@layer components {
  .line-clamp-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .line-clamp-3 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .bg-dot-grid-light {
    background: slinear-gradient(90deg, #fff 15px, transparent 1%) 50%,
      linear-gradient(#fff 15px, #3e4146 1%) 0%, hsla(0, 0%, 100%, 0.16) fixed;
    background-size: "16px 16px !important";
  }

  .bg-dot-grid-dark {
    background: slinear-gradient(90deg, #151618 15px, transparent 1%) 50%,
      linear-gradient(#151618 15px, #3e4146 1%) 0%,
      hsla(0, 0%, 100%, 0.16) fixed;
    background-size: "16px 16px !important";
  }
}
